*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.container{

}
.card{

}
.search{

}
.search-btn{

}
.content{

}
.food-title{

}
.food-title-h2{

}
.food-sub-title{

}
.ingredients{

}
.view-recipe-btn{
    
}
